<div class='col-md-6 col-md-offset-3' novalidate>
<h1>Settings</h1>
<h2>Change Password</h2>
<form id='changePassword' name='changePassword' class='form-horizontal' ng-submit='changePassword.$valid && ctrl.changePassword(user)'>
  <div class="form-group">
    <label for="password" class='control-label col-sm-3'>Password</label>
    <div class='col-sm-9'>
      <input type="password" class="form-control" id="password" ng-model='user.password' placeholder="new password"  data-ng-class="{'ng-invalid':myForm.confirmPassword.$error.match}" required>
    </div>
  </div>
  <div class="form-group">
    <label for="password-confirm" class='control-label col-sm-3'>Confirm</label>
    <div class='col-sm-9'>
      <input type="password" class="form-control" id="password-confirm" ng-model='user.passwordConfirm' placeholder="new password" data-match="user.password" required>
    </div>
  </div>
  Form Valid: {{changePassword.$valid}}, password length: {{user.password.length}}
  <div class="alert alert-success"><span class='glyphicon glyphicon-ok'></span> Password Successfully Changed</div>
  <div class="alert alert-danger" ng-show="user.password.length && !(changePassword.$valid)"><span class='glyphicon glyphicon-remove'></span> Passwords do not match</div>
  <button>submit</button>
</form>

<p>
User: {{user._id}} <br />
</p>
</div> 